.column {
   margin: 5px;
   width: 950%;
}

.columnBtn {
    margin: 10px;
    position: absolute;
    right: 10px;
    top: 59px;
    width: 9%;
}

 
.list{
    background-color: lightgray;
    padding: -10px;
}

.danger{
    text-align: right;

}